<nav class="global-nav">
  <a href="/" class="{{#when tab '===' 'home'}}curr{{/when}}">
    Home
  </a>
  <a href="/hbs.html" class="{{#when tab '===' 'hbs'}}curr{{/when}}">
    Hbs
  </a>
  <a href="/pure.html" class="{{#when tab '===' 'pure'}}curr{{/when}}">
    Pure
  </a>
</nav>
