<nav class="global-nav">
  <a href="/" class="{{#when tab '===' 'home'}}curr{{/when}}">
    Home
  </a>
  <a href="/hbs.html" class="{{#when tab '===' 'hbs'}}curr{{/when}}">
    Hbs
  </a>
  <a href="/pure.html" class="{{#when tab '===' 'pure'}}curr{{/when}}">
    Pure
  </a>
  <a href="/wasm.html" class="{{#when tab '===' 'wasm'}}curr{{/when}}">
    wasm
  </a>
  <a href="/worker.html" class="{{#when tab '===' 'worker'}}curr{{/when}}">
    worker
  </a>
  <a href="/ts.html" class="{{#when tab '===' 'ts'}}curr{{/when}}">
    typescript
  </a>
</nav>
